@model MyShop1.Models.CatalogIndexViewModel

@{
    ViewData["Title"] = "Catalog";
}

@*<section>
    <div>
        <form method="get">
            <label data-tittle ="brand">
                <select asp-for="@Model.BrandFilterAppled" asp-items="@Model.Brands"></select>
            </label>
            <label data-tittle="type">
                <select asp-for="@Model.TypesFilterAppled" asp-items="@Model.Types"></select>
            </label>
            <input type="submit" value="App Filters"/> 
        </form>
    </div>
</section>*@

<section class="esh-catalog-filters">
    <div class="container">
        <form method="get">
            <label class="esh-catalog-label" data-title="brand">
                <select asp-for="@Model.BrandFilterAppled" asp-items="@Model.Brands" class="esh-catalog-filter"></select>
            </label>
            <label class="esh-catalog-label" data-title="type">
                <select asp-for="@Model.TypesFilterAppled" asp-items="@Model.Types" class="esh-catalog-filter"></select>
            </label>
            <input class="esh-catalog-send" type="image" src="~/images/arrow-right.svg" />
        </form>
    </div>
</section>

<div class="container">
    @if (Model.CatalogItems.Any())
    {
        <div class="esh-catalog-items row">
            @foreach (var catalogItem in Model.CatalogItems)
            {
                <div class="esh-catalog-item col-md-4">
                    <form method="post">
                        <img class="esh-catalog-thumbnail" src="@catalogItem.PictureUrl" />
                        <input class="esh-catalog-button" type="submit" value="[ ADD TO BASKET ]" />
                        <div class="esh-catalog-name">
                            <span>@catalogItem.Name</span>
                        </div>
                        <div class="esh-catalog-price">
                            <span>@catalogItem.Price.ToString("N2")</span>
                        </div>
                        <input type="hidden" asp-for="@catalogItem.Id" name="id" />
                        <input type="hidden" asp-for="@catalogItem.Name" name="name" />
                        <input type="hidden" asp-for="@catalogItem.PictureUrl" name="pictureUri" />
                        <input type="hidden" asp-for="@catalogItem.Price" name="price" />
                    </form>
                </div>
            }
        </div>
    }
</div>
