@model MyShop1.Models.CatalogIndexViewModel

@{
    ViewData["Title"] = "Catalog";
}

<section>
    <div>
        <form method="get">
            <label data-tittle ="brand">
                <select asp-for="@Model.BrandFilterAppled" asp-items="@Model.Brands"></select>
            </label>
            <label data-tittle="type">
                <select asp-for="@Model.TypesFilterAppled" asp-items="@Model.Types"></select>
            </label>
            <input type="submit" value="App Filters"/> 
        </form>
    </div>
</section>
<div class="container">
    @if(Model.CatalogItems.Any())
    {
        <div class="row">
            @foreach(var catalogItem in Model.CatalogItems)
            {
                <img src="@catalogItem.PictureUrl"/>
                <div >
                    <span>@catalogItem.Name</span>
                </div>
                <div>
                    <span>@catalogItem.Price</span>
                </div>
            }
        </div>
    }
</div>

